
# Playwright
node_modules/
/test-results/
/playwright-report/
/blob-report/
/playwright/.cache/
/playwright/.auth/

# Config files with sensitive data
properties.js

# Allure Reports
/allure-results/
/allure-report/
